.info{
    
    padding: 24px;
    .form-container{
        border: 1px solid #ebebeb;
        background: #fff;
        border-radius: 3px;
        .form{
            width: 40%;
            padding: 50px;
        }
    }
}
.upload-demo{
    position: absolute;
    left: 60px;
    top: 5px;
}