.header{
    position: fixed;
    top:0;
    left: 0;
    height: 64px;
    width: 100%;
    border-bottom:1px solid #e4e4e4;
    font-size: 14px;
    box-sizing: border-box;
    .logo{
        float: left;
        padding:8px;
        img{
            height: 48px;
        }
    }
    .header-content{
        // float: right;
        height: 100%;
        .item{
            float: right;
            padding: 0 12px;
            height: 100%;
            line-height: 64px;
            .line{
                vertical-align: middle;
                height: 25px;
                border-left:1px solid #e4e4e4;
                margin:0 8px;
            }
        }
        .info{
            border-left:1px solid #e4e4e4;
            border-right:1px solid #e4e4e4;
        }
        .kefu{
            .icon{
                font-size: 32px;
                color:#4cafe9;
                line-height: 54px;
                vertical-align: middle;
            }
        }
        .bread div{
            float: left;
            line-height: 64px;
            vertical-align: middle;
            height: 100%;
            margin-left: 27px;

            a {
                font-weight: normal;       
            }
        }
    }
}
