.nav{
    overflow: hidden;
    z-index: 111;
    height: 100%;
    position: fixed;
    left: 0;
    top:64px;
    width: 160px;
    background-color: #2a2d32;
    transition: all .5s;
    .switch-tab{
        text-align: center;
        height: 30px;
        line-height: 30px;
        width: 160px;
        color: #fff;
        cursor: pointer;
        background-color: #3a414d;
        transition: all .5s;
    }
    .collapse-tab{
        width: 64px;
    }
    .icon{
        vertical-align: middle;
        margin-right: 5px;
        width: 24px;
        text-align: center;
        font-size: 18px;
    }
    .el-menu{
        border:none;
        width: 110%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 10% 0 0;
        transition: all .5s;
    }
    .el-submenu .el-menu-item{
        min-width: 50px;
    }
}
.nav-collapse{
    width: 64px;
    overflow: visible;
    .el-menu{
        width: 64px;
        padding: 0;
        overflow: visible;
    }
    .switch-tab{
        width: 64px;
    }
}