.news-container{
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #ddd;
    background: #fff;
    margin-bottom: 20px;
    h4{
        height: 50px;
        margin: 10px 0 0;
        padding: 0;
        text-align: center;
        color: #ff3451;
        font-size: 18px;
    }
    li{
        overflow: hidden;
        margin-bottom: 15px;
        cursor: pointer;
        &:hover{
            color: #009fff;
        }
        .recommend{
            background: #ffba00;
            border-radius: 10px;
            padding: 2px 6px;
            font-size: 12px;
            display: inline-block;
            color: #fff;
            margin-right: 5px;
            font-style: normal;
        }
        .content{
            line-height: 20px;
            display: inline-block;
            width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis
        }
        .count{
            overflow: hidden;
            margin-bottom: 15px;
            float: right;
            color:#999;
        }
    }
}